## Logic Operators
##### OR
##### AND
##### NOT

In [9]:
print(bool(True and False))
print(True and True)
print(False or False)
print(True or False)
print(not False)

False
True
False
True
True

In [12]:
not bool(0)

True

In [22]:
x = ["apple", "banana", "cherry"]

y = ["apple", "banana", "Lips"]

print(x is not y)

True

In [44]:
x = ["apple", "banana", "cherry"]

y = ["apple", "banana", "cherry"]
if (x == y):
    print("Yes they are same.")
y[2] = 'cherryLips'
# Remember == and is are not same 
''' "is" keyword just checks the reference of object that it is pointing towards.
    Where as ==  checks if they both have same value.'''
print(x is x) #Memory Addresses are same
print(y)
print(id(x), "   ", id(y))
y = x
print(id(x), "   ", id(y))
print(x is y) #Memory Addresses are still same but variable names are different
print(y)
del y
print(x)
del x

Yes they are same.
True
['apple', 'banana', 'cherryLips']
19483272     19381512
19483272     19483272
True
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

# Mutable vs Immutable

In [47]:
FString = "FirstName"
list1 = [23,235,23521, "SecondName"]
list1[3] = 'ThirdName'
# String can't do this FString[1] = 'd'
FirstTuple = ('23', 'banana', 'Apple', 'Fruits')
F
print("Fruit Tuple: ", FirstTuple)
print(FString, list1)

Fruit Tuple:  ('23', 'banana', 'Apple', 'Fruits')
FirstName [23, 235, 23521, 'ThirdName']

In [49]:
FirstTuple[0] #Can be accessed through indexing but can't change the value store at that index

'23'

## Operators

In [55]:
a = 10
b = 7
print(a + b)
print(a - b)
print(a * b)
print(a / b) #Outupts value in floating point
print(a // b) #Outputs value in rounded integer value
print(a % b)
a = 10.223
b = 7.2023
print(a // b) #outputs value in floating point but with round of value say Answer is(1.42857) but actually answer is (1.0)
print(a%b) #outputs remainder

17
3
70
1.4285714285714286
1
3
1.0
3.0207000000000006

In [65]:
variable = 10
bin(variable)

'0b1010'

In [64]:
~variable

-11

In [67]:
print(variable << 1)
print(variable >> 1)

20
5

In [70]:
string1 = "There are Data Science"
print(string1[-10:]) #Slicing operations

ta Science

In [78]:
print(string1[::-1])
print(string1[::-3])
print(string1[::2])
print(string1)

ecneicS ataD era erehT
eeSt arT
TeeaeDt cec
There are Data Science

In [81]:
course_name = "Data Science Masters"

print(course_name[5:12])
print(course_name[-9:4:-1])

Science
ecneicS

In [97]:
print(course_name.count("i"))
print(string1.count('e'))

1
5

In [101]:
string1.split(' ')
string1 = string1.title()
print(string1)

There Are Data Science

Parition gives tuple separated by Argument value and Split gives list.

In [132]:
FirstTuple = ('24', 'banana', 'Apple', 'Fruits')
Stringlist = string1.split(' ')
print(Stringlist)
print(type(Stringlist)) #Gives list object as output <class 'list'>

Stringlist = string1.partition(' ')
print(Stringlist)
#After paritioning the string data type with parition member functiono
print(type(Stringlist)) # Returns tuple object as output <class 'tuple'>

There Are Data Science
['There', 'Are', 'Data', 'Science']
<class 'list'>
('There', ' ', 'Are Data Science')
<class 'tuple'>

In [121]:
variable = 19 + 20j
type(variable) # Complex Variable type
# compiler is able to seperate obejct type with intger, complex.

complex

In [151]:
NewString = "There are many things to learn about Unicorns"
NewString = NewString.title()
TupledString = NewString.split(' ')
TupledString[2] = True
TupledString = tuple(TupledString)
print(TupledString.count(1))
print(TupledString.index(1))

1
2

In [20]:
# make a tuple
t1 = (1,324,234,41,'Dhrumil', 10+19j, 9, 20, True)
t1 = t1[-5:len(t1)]
print(t1)

('Dhrumil', (10+19j), 9, 20, True)

In [21]:
print(t1[-1:3:-1])

(True,)

Set and Uniqueness

In [1]:
#Lets take a set s1
s1 = {}
type(s1)

dict

In [3]:
#but fill in the data into the brackets
s1 = {1,1,1,1,1,1,2,2,2,2,2,23,23,23,23,23,23,2634,43,64,4,3434,343}
s1

{1, 2, 4, 23, 43, 64, 343, 2634, 3434}

In [4]:
#lets just play with sets, lists and tuples
s1 = {1023,23,2,32,23214,12,[32,235,102,23,23],32,("Dhrumi", "Vaghasiya", "Apple", "Adam")}

TypeError: unhashable type: 'list'

In [6]:
Adam = "Apple"
s1 = {102,23, "True", True, 20, ("Dhrumil", "Adam", "Lee", "Naruto", Adam), (12, 232, 102), 235}
s1

{('Dhrumil', 'Adam', 'Lee', 'Naruto', 'Apple'),
 (12, 232, 102),
 102,
 20,
 23,
 235,
 True,
 'True'}

In [17]:
List = [234,21234,223, 223, [235,2350293,29384,293940239,292494045,29029], 292,29202393,394302, [234,23,[23,42,23], 242,2452]]
for i in List:
    if (type(i) == list):
        for j in i:
            print(j)
        continue
    print(i)

#conclusion: We can compare data types and object types int python
#Multidimensional array are written like this

234
21234
223
223
235
2350293
29384
293940239
292494045
29029
292
29202393
394302
234
23
[23, 42, 23]
242
2452

In [11]:
List = [234,21234,223, 223, 11,1,1,1,1,1,1,11,234235,125]
List = set(List)
print(List, type(List))
List = tuple(List)
print(List, type(List))
List = set(List)
print(List, type(List))
List = list(List)
print(List, type(List))
List[0] = 20
print(List)
#conclusion of these tests we can convert lists into set, tuple and get them back with minimum sized possible by converting back into a list

{1, 234, 11, 21234, 234235, 125, 223} <class 'set'>
(1, 234, 11, 21234, 234235, 125, 223) <class 'tuple'>
{1, 234, 11, 21234, 234235, 125, 223} <class 'set'>
[1, 234, 11, 21234, 234235, 125, 223] <class 'list'>
[20, 234, 11, 21234, 234235, 125, 223]

In [40]:
#Different Attributes of Sets
Days1 = "Monday,Tuesday,Wednesday"
Days2 = "Wednesday,Thurseday,Friday,Saturday,Sunday"
Days1 = Days1.split(',')
Days2 = Days2.split(',')
Days1 = set(Days1)
Dyas2 = set(Days2)

In [45]:
#By add function i have made my set like this {'Saturday', 'Friday', 'March', 'Tuesday', 'Wednesday', 'Monday'}
#Data Added order is "Friday", "Saturday", "March"
#Data Poped up Order is "Saturday", "Friday", "March"
print(Days1)
Days1.pop()
print(Days1)
Days1.pop()
print(Days1)
Days1.pop()
print(Days1)

{'Saturday', 'Friday', 'March', 'Tuesday', 'Wednesday', 'Monday'}
{'Friday', 'March', 'Tuesday', 'Wednesday', 'Monday'}
{'March', 'Tuesday', 'Wednesday', 'Monday'}
{'Tuesday', 'Wednesday', 'Monday'}

In [ ]:
# Make a dictionoary
FirstDictionary = {x: (x**2) + 5*x + 2 for x in range(1,1000001)}
for i in FirstDictionary:
    print(FirstDictionary[i])